<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/9baea5fe-ffd1-4bea-ae44-b035b63c4c06/resourcegroups/MesaITC/providers/Microsoft.ContainerRegistry/registries/StudentGroupsHub20260623151023</ContainerResourceId>
    <ContainerResourceName>StudentGroupsHub20260623151023</ContainerResourceName>
    <Subscription>Visual Studio Professional Subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>studentgroupshub20260623151023.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>studentgroupshub</ContainerName>
    <EnvironmentName>StudentGroupsHub-env-20260623150619</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://studentgroupshub-app-20260623150.gentleground-6903ec61.centralus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/9baea5fe-ffd1-4bea-ae44-b035b63c4c06/resourceGroups/MesaITC/providers/Microsoft.App/containerApps/studentgroupshub-app-20260623150</ResourceId>
    <ResourceGroup>MesaITC</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>